@import "../../styles/colors.scss";

.topbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;

  .topbarLogo {
    width: 50px;
  }

  .active {
    color: $secondary;
  }

  a {
    margin-left: 2rem;
    font-size: 18px;

    &:hover {
      color: $secondary;
    }
  }

  .icon {
    font-size: 1.3rem;
  }
}
